version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: vue-vite-dev
    ports:
      - '5173:5173'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
